<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/filter.css">
</head>
<body>
    <section class="filters">
        <div class="filters__container">
            <form action="" class="filters__form">
            <div class="filters__header">
                <h3 class="filters__title">Filters</h3>
                <button class="filters__hide"></button>
            </div>
            <div class="filters__list">
                <div class="filters__section">
                    <h3 class="filters__subsection-header">Multi Range</h3>
                    <div class="filters__category">
                        <div class="filters__item">
                            <input type="radio" name="price" class="filters__rb" id="ten" value="ten">
                            <label for="ten">$10</label>
                        </div>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                            <input type="radio" name="price" class="filters__rb" id="ten-hundred" value="ten-hundred">
                            <label for="ten-hundred">$10-100$</label>
                        </div>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                            <input type="radio" name="price" class="filters__rb" id="hundred-fivehundred" value="hundred-fivehundred">
                            <label for="hundred-fivehundred">$100-$500</label>
                        </div>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                            <input type="radio" name="price" class="filters__rb" id="fivehundred" value="fivehundred">
                            <label for="fivehundred">$500</label>
                        </div>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                            <input type="radio" name="price" class="filters__rb" id="all" value="all">
                            <label for="all">All</label>
                        </div>
                    </div>
                </div>
                <div class="filters__section">
                    <hr class="filters__section-break">
                    <h3 class="filters__subsection-header">Category</h3>
                    <div class="filters__category">
                        <div class="filters__item">
                            <input type="checkbox" name="Cell Phones" class="filters__rb">
                            <label for="Cell Phones">Cell Phones</label>
                        </div>
                        <p class="filters__category-found">1920</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="Computers & Tablets" class="filters__rb">
                        <label for="Computers & Tablets">Computers & Tablets</label>
                        </div>
                        <p class="filters__category-found">1820</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="Cell Phone Accessories" class="filters__rb" checked>
                        <label for="Cell Phone Accessories">Cell Phone Accessories</label>
                        </div>
                        <p class="filters__category-found">462</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="Appliances" class="filters__rb">
                        <label for="Appliances">Appliances</label>
                        </div>
                        <p class="filters__category-found">6556</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="Audio" class="filters__rb">
                        <label for="Audio">Audio</label>
                        </div>
                        <p class="filters__category-found">120</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="iPhone Accessories" class="filters__rb">
                        <label for="iPhone Accessories">iPhone Accessories</label>
                        </div>
                        <p class="filters__category-found">353</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="Cameras & Camcorders" class="filters__rb">
                        <label for="Cameras & Camcorders">Cameras & Camcorders</label>
                        </div>
                        <p class="filters__category-found">45</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="iPhone Cases & Clips" class="filters__rb">
                        <label for="iPhone Cases & Clips">iPhone Cases & Clips</label>
                        </div>
                        <p class="filters__category-found">456</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="TV & Home Theater" class="filters__rb">
                        <label for="TV & Home Theater">TV & Home Theater</label>
                        </div>
                        <p class="filters__category-found">55</p>
                    </div>
                    <div class="filters__category">
                        <div class="filters__item">
                        <input type="checkbox" name="Small Kitchen Appliances" class="filters__rb">
                        <label for="Small Kitchen Appliances">Small Kitchen Appliances</label>
                        </div>
                        <p class="filters__category-found">10</p>
                    </div>
                    <hr class="filters__section-break">
                    <div class="filters__seection">
                        <h3 class="filters__subsection-header">Brand</h3>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Insigni" class="filters__rb">
                            <label for="Insigni">Insigni</label>
                            </div>
                            <p class="filters__category-found">220</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Samsung" class="filters__rb">
                            <label for="Samsung">Samsung</label>
                            </div>
                            <p class="filters__category-found">120</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Apple" class="filters__rb filters__rb--active">
                            <label for="Apple">Apple</label>
                            </div>
                            <p class="filters__category-found">320</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="HP" class="filters__rb">
                            <label for="HP">HP</label>
                            </div>
                            <p class="filters__category-found">32</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Sony" class="filters__rb">
                            <label for="Sony">Sony</label>
                            </div>
                            <p class="filters__category-found">520</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Metra" class="filters__rb">
                            <label for="Metra">Metra</label>
                            </div>
                            <p class="filters__category-found">55</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Dyne" class="filters__rb">
                            <label for="Dyne">Dyne</label>
                            </div>
                            <p class="filters__category-found">120</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="LG" class="filters__rb">
                            <label for="LG">LG</label>
                            </div>
                            <p class="filters__category-found">98</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Canon" class="filters__rb">
                            <label for="Canon">Canon</label>
                            </div>
                            <p class="filters__category-found">99</p>
                        </div>
                        <div class="filters__category">
                            <div class="filters__item">
                            <input type="checkbox" name="Speck" class="filters__rb">
                            <label for="Speck">Speck</label>
                            </div>
                            <p class="filters__category-found">575</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="filters__button" type="submit">clear all filters</button>
            </form>
        </div>
    </section>
</body>
</html>