<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/global.css">
    <link rel="stylesheet" href="../css/pagination.css">
</head>
<body>
    <section class="pagination">
        <div class="pagination__container">
            <div class="pagination__item pagination__item--out"><</div>
            <div class="pagionation__items-container">
                <div class="pagination__item">1</div>
                <div class="pagination__item">2</div>
                <div class="pagination__item">3</div>
                <div class="pagination__item">4</div>
                <div class="pagination__item">5</div>
                <div class="pagination__item pagination__item--active">6</div>
                <div class="pagination__item">7</div>
                <div class="pagination__item">8</div>
                <div class="pagination__item">9</div>
                <div class="pagination__item">10</div>
            </div>
            <div class="pagination__item pagination__item--out">></div>
        </div>
    </section>
</body>
</html>